* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
    font-size: 10px;
    min-height: 100%;
}

header {
    font-family: 'Agency FB';
    font-size: 40px;
    text-align: center;
    background-image: url(galaxy.jpg);
    font-style: italic;
}
/*Style an Id attribute*/
#maincontent {
    background-color: #2C3153;
    height: 800px;
}
/*Style a class attribute*/
.emphasis {
    color: red;
    font-weight: 800;
}

nav {
    float: left;
    height: 800px;
    width: 200px;
    padding: 5px;
    vertical-align: top;
    background-color: #90706F;
}

aside {
    float: right;
    height: 200px;
    width: 200px;
    background-color: #C5AC96;
}

section {
    font-family: 'Bodoni MT';
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: darkblue;
}

ul {
    text-indent: 5px;
    list-style-position: inside;
}

footer {
    color: white;
    background-color: #121A38;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header, #maincontent, nav, aside, footer {
    padding: 5px;
}

a {
    color: yellow;
}

input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0px 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}